{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<div class="container">
<div class="center-align">
  <h1>Page Not Found</h1>
  <p>What you were looking for is just not there.
  <p><a href="{{ url_for('firstPage') }}">Go to our main page.</a>
</div>
</div>
{% endblock %}