{% include "firstPage.html" %}
<div class="container">
<div class="center-align" style="text-align:left;">
 <h3>Artist Search Results</h3>
 {% if ARTSISTS|length is defined and ARTISTS|length %}<!--ARTISTS is defined and not not emplty-->
     <table class="highlight">
        <thead>
          <tr>
              <th>Username</th>
              <th>View Profile</th>
          </tr>
        </thead>
        <tbody>
            {% for artist in ARTISTS %}
              <tr>
                <td>{{ artist.username }}</td>
                <td><a href="{{ url_for('.VisitProfile', id=artist.id)}}">View {{ artist.username }} profile</a></td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
 {% else %}
 <h4 style="color:red;">No result found</h4>
 {% endif %}

</div>
</div>