
<!DOCTYPE html>
 <html style="overflow-y: scroll" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Art Gallery</title>

        <!-- Compiled and minified CSS -->
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">



        {% block content %}{% endblock %}
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <style>
            [type="radio"]:checked + span:after,
            [type="radio"].with-gap:checked + span:before,
            [type="radio"].with-gap:checked + span:after {
              border: 2px solid #263238;
            }

            [type="radio"]:checked + span:after,
            [type="radio"].with-gap:checked + span:after {
              background-color: #263238;
            }
            [type="checkbox"].filled-in:checked + span:not(.lever):after {
              top: 0;
              width: 20px;
              height: 20px;
              border: 2px solid #263238;
              background-color: #263238;
              z-index: 0;
            }
           .input-field input[type=text] + label {
             color: #263238;
             }
           .input-field input[type=text] {
             border-bottom: 1px solid #263238;
             box-shadow: 0 1px 0 0 #263238;
           }
            /* label focus color */
             .input-field input[type=text]:focus + label {
               color: #263238 !important;
             }
             /* label underline focus color */
             .row .input-field input[type=text]:focus {
               border-bottom: 1px solid #263238 !important;
               box-shadow: 0 1px 0 0 #263238 !important
             }
             .input-field textarea:focus + label {
              color: #263238 !important;
            }

            .row .input-field textarea:focus {
              border-bottom: 1px solid #263238 !important;
              box-shadow: 0 1px 0 0 #263238 !important
            }
             .input-field textarea + label {
              color: #263238 !important;
            }

            .row .input-field textarea {
              border-bottom: 1px solid #263238 !important;
              box-shadow: 0 1px 0 0 #263238 !important
            }
            h6{
                font-weight:bold;
            }
            .input-field input[type=password] + label {
             color: #263238;
             }
           .input-field input[type=password] {
             border-bottom: 1px solid #263238;
             box-shadow: 0 1px 0 0 #263238;
           }
            /* label focus color */
             .input-field input[type=password]:focus + label {
               color: #263238 !important;
             }
             /* label underline focus color */
             .row .input-field input[type=password]:focus {
               border-bottom: 1px solid #263238 !important;
               box-shadow: 0 1px 0 0 #263238 !important;
             }
             .waves-effect.waves-light.btn-large{
                 background-color:#d50000;
                 color: white;
             }
             body{
                 font-size:18px;
             }
             #homebody{
                  background-image: url('https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/homebg.jpg');
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: 100% 100%;
             }

         </style>
    </head>
    <body>

    </body>
  </html>
