{% extends "base.html" %}

{% block content %}
 <nav class="nav-extended" style="background-color:#000000;">
    <div class="nav-wrapper">
      <a href="{{ url_for('firstPage') }}" class="brand-logo">Art Gallery</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if not current_user.is_authenticated %}
            <li><a href={{ url_for('login') }}>Log in</a></li>
            <li><a href={{ url_for('new_user_form') }}>Register</a></li>
          {% else %}
            <li><a href={{ url_for('logout') }}>Log out</a></li>
            <li><a href={{ url_for('index') }}>{{ NAME }}</a></li>
          {% endif %}
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        {% for category in CATEGORIES %}
            <li class="tab"><a href="{{ url_for('PaintingsDrawings', choosedcategory=category )}}">{{category}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </nav>
{% endblock %}