{% include "firstPage.html" %}
<div class="container">
<div class="center-align" style="text-align:left;">

 <table class="highlight">
        {% if FOLLOWING is not none %}
        <h3>{{ PAGEOF.username }} is following</h3>
            <div class="row">
              <form method="GET" action="{{url_for('.FollowersFollowing', req='following', id=PAGEOF.id) }}">
                  <div class="col s12 m7">
                      <div class="section">
                          <div class="input-field inline">
                            <input id="search_inline" type="text" name="searchfollowing">
                            <label for="search_inline"><i class="material-icons left">search</i>Following</label>
                          </div>
                              <button style="background-color:#000000;" class="waves-effect waves-light btn-small">Search</button>
                      </div>
                  </div>
              </form>
          </div>
            <thead>
              <tr>
                  <th>Username</th>
                  <th>View Profile</th>
                  <th> </th>
              </tr>
            </thead>
            <tbody>
            {% if current_user == PAGEOF %}
                {% for u in FOLLOWING %}
                 <tr>
                    <td>{{ u.username }}</td>
                    <td><a href="{{ url_for('.VisitProfile', id=u.id) }}">View {{ u.username }} profile</a></td>
                    <td>
                        <a href="{{url_for('unfollow', req='following', id=u.id)}}" style="background-color:#000000;" class="waves-effect waves-light btn-small">Unfollow</a>
                    </td>
                 </tr>
                {% endfor %}
            {% else %}
                {% for u in FOLLOWING %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td><a href="{{ url_for('.VisitProfile', id=u.id) }}">View {{ u.username }} profile</a></td>
                 </tr>
                {% endfor %}
            {% endif %}
        {% else %}
        <h3>{{ PAGEOF.username }}'s followers</h3>
            <div class="row">
              <form method="GET" action="{{url_for('.FollowersFollowing', req='followers', id=PAGEOF.id) }}">
                  <div class="col s12 m7">
                      <div class="section">
                          <div class="input-field inline">
                            <input id="search_inline" type="text" name="searchfollowers">
                            <label for="search_inline"><i class="material-icons left">search</i>Followers</label>
                          </div>
                              <button style="background-color:#000000;" class="waves-effect waves-light btn-small">Search</button>
                      </div>
                  </div>
              </form>
          </div>
             <thead>
              <tr>
                  <th>Username</th>
                  <th>View Profile</th>
                  <th> </th>
              </tr>
            </thead>
            <tbody>
            {% for u in FOLLOWERS %}
              <tr>
                <td>{{ u.username }}</td>
                <td><a href="{{ url_for('.VisitProfile', id=u.id) }}">View {{ u.username }} profile</a></td>

             </tr>
            {% endfor %}
        {% endif %}
        </tbody>
      </table>
</div>
</div>
