{% include 'firstPage.html' %}
<body id="homebody">
<div class="container">
    <div class="row">
      <form method="GET" action="{{url_for('firstPage') }}">
          <div class="col s12 m7">
              <div class="section">
                  <div class="input-field inline">
                    <input id="search_inline" type="text" name="searchartwork">
                    <label for="search_inline"><i class="material-icons left">search</i>Artwork</label>
                  </div>
                      <button style="background-color:#000000;" class="waves-effect waves-light btn-small">Search</button>
              </div>
          </div>
      </form>
  </div>
  <div class="row">
      {% if SEARCHRESULTS %}
          {% for artwork in SEARCHRESULTS %}
            <div class="col s4 m4">
              <div class="card">
                <div class="card-image">
                  <img style="max-height:420px" src="https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/{{ artwork.image.filename }}">
                  <span class="card-title">{{ artwork.title }}</span>
                </div>
                <div class="card-content">
                  <p style="text-align:left;">
                     <b>Author:</b> {{ artwork.author.username }}<br>
                     <b>Category:</b> {{ artwork.category.name }}<br>
                     <b>Subject:</b> {{ artwork.subject.name }}
                 </p>
                </div>
                <div class="card-action">
                  <a href="{{ url_for('.viewArtwork',id=artwork.id)}}" style="color:#03a9f4">View Artwork</a>
                </div>
              </div>
            </div>
          {% endfor %}
      {% endif%}
  </div>
  <div class="row">
      <div class="col s9">
           <ul class="collection with-header">
            <li class="collection-header" style="background-color:#b2dfdb"><h6>Explore our styles</h6></li>
            {% for style in STYLES%}
                <li class="collection-item"><div>{{ style }}<a href="{{ url_for('explore', type='style', value=style)}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            {% endfor %}
          </ul>
      </div>
     <div class="col s3 m3">
          <div class="card">
            <div class="card-image">
              <img style="max-height:420px" src="https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/ourArtists.jpg">
            </div>
            <div class="card-action">
              <a href="{{ url_for('ourartists') }}" style="color:#03a9f4">Our Artists</a>
            </div>
          </div>
     </div>
  </div>
  <div class="row">
        <ul class="collection with-header">
            <li class="collection-header" style="background-color:#b2dfdb"><h6>Explore our subjects</h6></li>
            {% for subject in SUBJECTS %}
                <li class="collection-item"><div>{{ subject }}<a  href="{{ url_for('explore', type='subject', value=subject)}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            {% endfor %}
        </ul>
  </div>
</div>
</body>
