{% include "firstPage.html" %}
<div class="row">

      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel  -->
        <div> </div>
         <div class="divider"></div>
          <div class="section">
            <h5>{{ NAME }}</h5>
          </div>
          <div class="divider"></div>
           <ul class="collection">
              <div class="divider"></div>
                <li class="collection-item" style="background-color:#f5f5f5;">
                    <a href="{{ url_for('.FollowersFollowing', req='followers', id=current_user.id)}}">Followers {{ NRFOLLOWERS }}</a>
                </li>
              <div class="divider"></div>
              <div class="divider"></div>
                <li class="collection-item" style="background-color:#f5f5f5;">
                    <a href="{{ url_for('.FollowersFollowing', req='following', id=current_user.id)}}">Following {{ NRFOLLOWING }}</a>
                </li>
              <div class="divider"></div>
          </ul>
          <div class="divider"></div>
            <div class="section">
               <a href={{ url_for('addArtwork') }} style="background-color:#d50000;" class="waves-effect waves-light btn-small"><i class="material-icons right">add</i>New Artwork</a>
            </div>
          <div class="divider"></div>
            <div class="section">
               <a href="{{ url_for('timeline') }}" style="background-color:#000000;" class="waves-effect waves-light btn-small">Timeline</a>
            </div>
          <div class="divider"></div>
      </div>

      <div class="col s12 m8 l9">
        <div class="center-align">
            <div class="row">
              <form method="GET" action="{{url_for('artistSearch')}}">
                  <div class="col s12 m7">
                      <div class="section">
                          <div class="input-field inline">
                            <input id="search_inline" type="text" name="searchArtist" required>
                            <label for="search_inline"><i class="material-icons left">search</i>Artist</label>
                          </div>
                              <button href="#" style="background-color:#000000;" class="waves-effect waves-light btn-small">Search</button>
                      </div>
                  </div>
              </form>
              <div class="divider"></div>
          </div>
          <div class="row">
              {% for artwork in ARTWORKS %}
                 <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image">
                          <img src="https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/{{ artwork.image.filename }}">
                          <span class="card-title">{{ artwork.title }}</span>
                        </div>
                        <div class="card-content">
                          <p style="text-align:left;">
                             <b>Author:</b> {{ current_user.username }}<br>
                             <b>Category:</b> {{ artwork.category.name }}<br>
                             <b>Subject:</b> {{ artwork.subject.name }}
                         </p>
                        </div>
                        <div class="card-action">
                          <a href="{{ url_for('.viewArtwork',id=artwork.id)}}" style="color:#03a9f4">View Artwork</a>
                        </div>
                      </div>
                 </div>
              {% endfor %}
          </div>
        </div>
      </div>

</div>
