{% include "firstPage.html" %}

<div class="container" id="lform">
        <h2>Log In</h2>
<form action="" method="post" novalidate style="text-align: left;">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="input-field col s6">
            <p id='login_username'>
                {{ form.username.label(class_="active") }}
                {{ form.username(size=32) }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <p id='login_password'>
                {{ form.password.label(class_="active") }}
                {{ form.password(size=32) }}
            </p>
        </div>
    </div>
   {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
   <div class="section">
        {{ form.submit(class_='waves-effect waves-light btn-large') }}
   </div>
</form>
 <p id="login_info"><a href='/new_user'>Register</a> if you don't have an account.</p>
</div>




