{% include "firstPage.html" %}
<div class="container">
<div class="center-align">
<form method="POST" enctype=multipart/form-data>
    <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" type="text" required>
          <label class="active" for="title">Title</label>
        </div>
        <div class="col s12" name="error" style="color:red;"><p>{{ ERROR }}</p></div>
    </div>
    <div class="row">
        <div class="col s4" style="text-align:left;">
            <div class="section"><h6>Choose a category: </h6></div>
            {% for category in CATEGORIES %}
                 <p>
                  <label>
                    <input type="radio" name="category" value="{{ category }}" required>
                    <span>{{ category }}</span>
                  </label>
                </p>
            {% endfor %}
        </div>
        <div class="col s4" style="text-align:left;">
             <div class="section"><h6 style="font-weight:bold;">Choose a subject: </h6></div>
             {% for subject in SUBJECTS %}
                 <p>
                  <label>
                    <input type="radio" name="subject" value="{{ subject }}" required>
                    <span>{{ subject }}</span>
                  </label>
                </p>
            {% endfor %}
        </div>
         <div class="col s4" style="text-align:left;">
            <div class="section"><h6>Choose styles: </h6></div>
            {% for style in STYLES %}
                 <p>
                  <label>
                    <input type="checkbox" class="filled-in" name="styles" value="{{ style }}" />
                    <span>{{ style }}</span>
                  </label>
                </p>
            {% endfor %}
            <div style="color:red;"><p>{{ ERRORSTYLE }}</p></div>
        </div>
    </div>
   <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
          <label for="textarea1">Description</label>
      </div>
  </div>
    <div class="file-field input-field">
      <div class="btn" style="background-color:#263238;">
        <span>Image</span>
        <input type="file" name=file required>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" name="imagename" >
      </div>
    </div>
    <div class="section">
        <button class="waves-effect waves-light btn-large">Add</button>
    </div>
</form>
</div>
</div>