{% include "firstPage.html" %}

<div class="container">
    <h2>Register</h2>
    <form action="{{ url_for('new_user_form') }}" class="col s12" method="POST">
        <div class="row">
            <div class="input-field col s6">
                <input id="username" name="username" type="text" required>
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="password" name='password' type="password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="section">
            <button class="waves-effect waves-light btn-large" name="action" >Register</button>
        </div>
    </form>
</div>
