{% include 'firstPage.html' %}
<div class="container">
    <h3>Our Artists</h3>
       <table class="highlight">
        <thead>
          <tr>
              <th>Username</th>
              <th>View Profile</th>
          </tr>
        </thead>

        <tbody>
          {% for artist in ARTISTS %}
          <tr>
            <td>{{ artist.username }}</td>
            <td><a href="{{ url_for('VisitProfile', id=artist.id ) }}">View {{artist.username}}'s profile</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
</div>