<label for="cars">Choose a car:</label>

<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>

<img class="materialboxed" src="/home/dafinaMarku/finalprojecticts/images/d58641h-8823623c-1ac0-4422-8fd5-cc006d0c6e19.jpg">