{% include 'firstPage.html' %}
<div class='container'>
    <div class='row'>
      {% for artwork in FOLLOWINGART %}
            <div class="col s4 m4">
              <div class="card">
                <div class="card-image">
                  <img style="max-height:420px" src="https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/{{ artwork.image.filename }}">
                  <span class="card-title">{{ artwork.title }}</span>
                </div>
                <div class="card-content">
                  <p style="text-align:left;">
                     <b>Author:</b> {{ artwork.author.username }}<br>
                     <b>Category:</b> {{ artwork.category.name }}<br>
                     <b>Subject:</b> {{ artwork.subject.name }}
                 </p>
                </div>
                <div class="card-action">
                  <a href="{{ url_for('.viewArtwork',id=artwork.id)}}" style="color:#03a9f4">View Artwork</a>
                </div>
              </div>
            </div>
      {% endfor %}
    </div>
</div>