{% include "firstPage.html" %}

<div class="container">
<div class="center-align" style="text-align:left;">
<h3>
    {{ ARTWORK.title }}
</h3>
{% if not ARTWORK.author==current_user %}
    <h4 style="text-align:right">by <a href="{{ url_for('VisitProfile', id=ARTWORK.author.id ) }}">{{ARTWORK.author.username}}</a></h4>
{% endif %}
<div class="row">
    <div class="col s12 d6">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/{{ ARTWORK.image.filename }}">
        </div>
      </div>
      <div>
          <p>
              <b>Category:</b> {{ ARTWORK.category.name }}<br>
              <b>Subject:</b> {{ ARTWORK.subject.name }}<br>
              <b>Styles:</b>
              {% for s in ARTWORK.styles %}
               |{{ s.name }}|
              {% endfor %}
          </p>
          {% if ARTWORK.description %}
            <p style="border-style:groove;">
                <b>Description: <b>
                {{ ARTWORK.description }}
            </p>
          {% endif %}
      </div>
    </div>
</div>
{% if ARTWORK.author==current_user %}
    <div class="fixed-action-btn">
      <a  href="{{ url_for('.editArtwork',id=ARTWORK.id) }}" class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
      </a>
      <ul>
        <li><a href="{{ url_for('.deleteArtwork',id=ARTWORK.id) }}" class="btn-floating red"><i class="material-icons">delete</i></a></li>
      </ul>
    </div>
{% endif %}
</div>
</div>
<script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
</script>