{% include "firstPage.html" %}
<div class="row">

      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel  -->
        <div> </div>
         <div class="divider"></div>
          <div class="section">
            <h5>{{ ARTIST.username }}</h5>
          </div>
          {% if current_user.is_authenticated %}
              <div class="divider"></div>
               <ul class="collection">
                  <div class="divider"></div>
                    <li class="collection-item" style="background-color:#f5f5f5;">
                        <a href="{{ url_for('FollowersFollowing', req='followers', id=ARTIST.id) }}">Followers {{ NRFOLLOWERS }}</a>
                    </li>
                  <div class="divider"></div>
                  <div class="divider"></div>
                    <li class="collection-item" style="background-color:#f5f5f5;">
                        <a href="{{ url_for('FollowersFollowing', req='following', id=ARTIST.id) }}">Following {{ NRFOLLOWING }}</a>
                    </li>
                  <div class="divider"></div>
              </ul>
              <div class="divider"></div>
              <form method="POST" action="{{ url_for('.VisitProfile', id=ARTIST.id) }}">
                  <div class="section">
                   <button style="background-color:#000000;" class="waves-effect waves-light btn-small">{{ FOLLOWRESULT }}</button>
                  </div>
              </form>
              <div class="divider"></div>
          {% endif %}
      </div>

      <div class="col s12 m8 l9">
        <div class="center-align">
          <div class="row">
              {% for artwork in ARTWORKS %}
                 <div class="col s12 m7">
                      <div class="card">
                        <div class="card-image">
                          <img src="https://www.pythonanywhere.com/user/dafinaMarku/files/home/dafinaMarku/finalprojecticts/images/{{ artwork.image.filename }}">
                          <span class="card-title">{{ artwork.title }}</span>
                        </div>
                        <div class="card-content">
                          <p style="text-align:left;">
                             <b>Author:</b> {{ artwork.author.username }}<br>
                             <b>Category:</b> {{ artwork.category.name }}<br>
                             <b>Subject:</b> {{ artwork.subject.name }}
                         </p>
                        </div>
                        <div class="card-action">
                          <a href="{{ url_for('.viewArtwork',id=artwork.id)}}" style="color:#03a9f4">View Artwork</a>
                        </div>
                      </div>
                 </div>
              {% endfor %}
          </div>
        </div>
      </div>

</div>
